useDynLib(bayesCureRateModel, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method(print, bayesCureModel)
S3method(summary, bayesCureModel)
S3method(plot, bayesCureModel)
S3method(predict, bayesCureModel)
S3method(residuals, bayesCureModel)
S3method(logLik, bayesCureModel)
S3method(print, summary_bayesCureModel)
S3method(print, predict_bayesCureModel)
S3method(plot, predict_bayesCureModel)
import(coda)
import(doParallel)
import(foreach)
import(parallel)
import('HDInterval')
import('calculus')
import('survival')
import("mclust")
importFrom('flexsurv', "dgompertz", "pgompertz", "dllogis", "pllogis")
importFrom('VGAM', "dlomax", "plomax", "ddagum", "pdagum")
importFrom("grDevices", "heat.colors", "topo.colors", "dev.new", "dev.off", "rgb", "col2rgb")
importFrom("graphics", "polygon", "abline", "layout", "legend", "matplot", "points", "par", "rect", "text", "axis", "box", "plot", "title")
importFrom("stats", "logLik", "formula", "residuals", "rexp", "density", "dgamma", "dnorm", "mahalanobis",
             "pgamma", "rlnorm", "rbinom", "dbinom", "dpois", "ppois", "rbeta", "rgamma", "runif", "quantile", "rnorm", "var", "sd", "median", "qnorm", "model.matrix")
